    <footer class="footer">
      <p style="text-align: center; margin-top: 20px; color: #333;">Made with ❤️ by <a href="https://codetanna.com">CodeTanna</a></p>
    </footer>

    <script>
      const container = document.querySelector(".code-container");
      const code = document.querySelector(".code");

      container.addEventListener("click", () => {
        navigator.clipboard.writeText("npm i @codetanna/nex-cli");
        container.textContent = "Copied!";
        setTimeout(() => {
          container.textContent = "npm i @codetanna/nex-cli";
        }, 2000);
      });
    </script>
  </body>
</html>