<%- include('./includes/header.ejs' ) %>
    <div class="container">
      <img width="100" src="/images/nex-logo.png" alt="cli-logo" />
      <h1 class="header-text">Welcome to Nex-Cli</h1>
      <p>Run the following command to get started</p>
      
      <div class="code-container">
        <code class="code">npm i @codetanna/nex-cli</code>
        <img width="10" height="10" src="https://img.icons8.com/ios/10/copy--v1.png" alt="copy--v1"/>
      </div>

      <p>For more information visit <a href="https://www.npmjs.com/package/@codetanna/nex-cli">NPM</a></p>
    </div>
<%- include('./includes/footer.ejs' ) %>